<html>
    <head>
        <title>Change an Account's Settings</title>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name = "description" content="Page for Admin to Change User Settings"/>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <link rel="stylesheet" type="text/css" href="/style/admin_style.css">
    </head>
    
    <body>

    <header>
        <%=erb :admin_header%>
    </header>

    <% if !@form_was_submitted || @submission_error %> 
    
    <h1>Settings</h1>
    
    <form action="/admin_settings" method="post">
        <section id="admin_settings_section">
            <div id="admin_section">
                <h3>Change the basic user settings</h3>
                <p>Username of account to change: <input type="text" placeholder="Enter Username" name="old_username" value="<%= @old_username %>" required></p>
                <p>Username: <input type="text" placeholder="Enter Username" name="new_username" value="<%= @new_username %>" required></p>
                <p>Email: <input type="text" placeholder="Enter Email" name="new_email" value="<%= @new_email %>" ></p>
                <p><input type="submit" value="Save Changes"></p>
            </div>
        </section>  

    </form>
    <% end %>
    </body>
</html>