/* Resets default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #ffffff, #4b729a); /* Gradient from blue to dark gray */
  font-family: Arial, sans-serif;
  color: #000000;
  line-height: 1.6; 
}

.story-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.story-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #646464;
    border-radius: 10px;
    background-color: #dde8e9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    transition: transform 0.3s; /* Add transition for smooth animation */
}

.story-box:hover {
    transform: scale(1.05); /* Enlarges the box on hover */
}
.story-box h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.story-box p {
    margin: 5px 0;
}

.story-box ul {
    list-style-type: none;
    padding: 0;
}

.story-box li {
    margin-bottom: 5px;
    color: #666;
}

.story-box a {
    color: #0053b8;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

.story-box a:hover {
    color: #00b38c;
}
