
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.story-content {
    margin-bottom: 20px;
}

.admin-controls, .content, .wishlist, .comments {
    margin-top: 20px;
}

.paywall {
    color: red;
}

.interactions {
    margin-top: 10px;
}

.interactions form {
    display: inline-block;
    margin-right: 10px;
}

.interactions button {
    background-color: #95afac;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.interactions button.liked, .interactions button.disliked {
    background-color: #4CAF50;
}
.interactions button.disliked {
  background-color: crimson;
}

.wishlist button {
    background-color: #dbedff;
}


.comments {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.comment {
    margin-bottom: 20px;
}
